<% layout("/layouts/boilerplate") %>

<div class="row">
    <center>
        <div class="alert alert-success" role="alert">
            <h5 class="alert-heading"><%=statusCode%> , <%=err.message%></h5>
    
          </div>
    </div>
    </center>
   